.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-block {
  flex-shrink: 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--cloud);
}

.footer-text {
  max-width: 264px;
}

.footer-social-block {
  margin-left: 120px;
}

.footer-social-title {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--white);
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--cloud);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing);
}

.footer-form-input::placeholder {
  color: var(--white);
}

.footer-form-input:focus {
  border-color: var(--green);
}

.footer-form-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color var(--transition-duration) var(--transition-timing),
    box-shadow var(--transition-duration) var(--transition-timing);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
